{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block content %}

  <section id="portfolio" data-scroll-index="3" class="section portfolio-section gray-bg-1">
    <div class="container">
        <div class="section-heading">
            <h3>
                <span>My Blog</span>
            </h3>
        </div>
        <div class="lightbox-gallery">
            <div class="row g-3 g-lg-4 portfolio-content">
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-1.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-1.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-2.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-2.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-3.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-3.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-4.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-4.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-5.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-5.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 grid-item">
                    <div class="portfolio-box">
                        <div class="portfolio-text">
                            <h6>Mobile App Design</h6>
                            <p>Mobile App, App Design</p>
                            <a class="gallery-link" href="./static/img/project-6.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                        </div>
                        <div class="portfolio-img">
                            <img src="./static/img/project-6.jpg" title="" alt="">
                            <a class="px_modal portfolio-modal-link" href="#project_1">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}