{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block content %}

<section id="about" data-scroll-index="1" class="section about-section gray-bg-1">
    <div class="container">
        <div class="about-me">
            <div class="row align-items-start">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="title-01">
                        <span>About Me</span>
                    </div>
                    <div class="about-me-text pb-5">
                        <!-- <h3>My Name Is Parisa Bagherzadeh</h3> -->
                        <h5><span>I Am Available</span> For Artificial Intelligence Projects</h5>
                        <p align="justify">I'm Parisa Bagherzadeh, a machine learning engineer here at PartAI company.
                            My journey into the world of machine learning started with a fascination for the way
                            algorithms can unravel complex problems.
                            It was during my college years that a pivotal moment occurred -
                            a breakthrough in a personal project where I realized the incredible potential of machine
                            learning to transform ideas into reality.</p>
                        <div class="row pt-2">
                            <div class="col-auto">
                                <div class="a-count">
                                    <!-- <span class="count">5k</span> -->
                                    <!-- <div class="a-count-text">Projects <br>Completed.</div> -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="a-count">
                                    <!-- <span class="count">3k</span> -->
                                    <!-- <div class="a-count-text">Satisfied <br>Clients.</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="col-lg-7 sticky-lg-top ps-xl-5">
                    <div class="row align-items-start">
                        <div class="col-md-7 py-4">
                            <div class="about-me-img">
                                <img src="./static/img/home-banner.jpg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-md-5 py-4">
                            <div class="about-content">
                                <ul>

                                    <li>
                                        <div class="a-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="a-text">
                                            <a class="text-reset stretched-link"
                                                href="mailto:parisa.baqerzade@gmail.com">Mail Me</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="a-icon">
                                            <i class="fab fa-whatsapp"></i>
                                        </div>
                                        <div class="a-text">
                                            <a class="text-reset stretched-link"
                                                href="https://t.me/Parisa_Bagherzadeh">Telegram Me</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="a-icon">
                                            <i class="fa fa-map"></i>
                                        </div>
                                        <div class="a-text">
                                            <a class="text-reset stretched-link"
                                                href="https://github.com/Parisa-Bagherzadeh">My Github</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="a-icon">
                                            <i class="fa-solid fa-file-pdf"></i>
                                        </div>
                                        <div class="a-text">
                                            <a class="text-reset stretched-link"
                                                href="https://resume.io/r/uFdJAgs1A">Resume</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}