{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  {% for category, message in messages %}

    {{ message }}
   
    {% endfor %}
  {% endif %}
{% endwith %}  

  <section id="contactus" data-scroll-index="4" class="section contactus-section gray-bg-1">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-5 d-flex">
                <div class="d-flex flex-column w-100">
                    <div class="contact-info">
                        <h3>Let’s Discuss Your Project</h3>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="bi-chat-left-dots-fill"></i>
                                </div>
                                <div class="text">
                                    <label>Chat to us</label>
                                    <p>Our friendly team is there to help. <span><a class="text-reset" href="mailto:info@domainname.com">info@domainname.com</a></span></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="bi-compass"></i>
                                </div>
                                <div class="text">
                                    <label>Visit us</label>
                                    <p> Come say hello at our office HQ. <span>Warnwe Park Streetperrine, <br> FL 33157 New York City</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="bi-phone"></i>
                                </div>
                                <div class="text">
                                    <label>Call us</label>
                                    <p>Mon-Fri from 8am to 5pm. <span>+01 (555) 000-0000</span></p>
                                </div>
                            </li>
                        </ul>
                        <div class="google-map mt-5">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ps-xl-5">
                <div class="contact-form">
                    <div class="contact-head">
                        <h4>Register Form</h4>
                        <p></p>
                    </div>
                    <form id="contact-form" method="POST">
                        <div class="row gx-3 gy-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input name="Username" id="name" placeholder="Username *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input name="Password" id="password" placeholder="Password *" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Confirm Password</label>
                                    <input name="Confirm_Password" id="confirm_password" placeholder="Confirm Password *" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input name="Email" id="email" placeholder="Email *" class="form-control" type="text">
                                </div>
                            </div>
        
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn w-100" type="submit" value="Send"> Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}